.form-section{
    display: flex;
   flex-flow: row wrap;
   background-color: var(--background);
   width: 100%;
   margin: 1rem 0;
}

.formtitle
{
    width: 100%;
}
.formtitle h2{
    margin: 2rem 0;
   text-align: center;
    
}
.form-container{
    display: flex;
    justify-content: space-between;
    flex-direction: row ;
    flex-flow: row wrap;
    width:99%;
}
.form-container-textarea{
    width: 60%;
    padding-left: 2rem;
}
.inputbox td{
    padding: 1rem;
    margin: 1rem 0;
}
.inputbox span{
font-family: Poppins;
font-size: 18px;
font-weight: 400;
line-height: 27px;
letter-spacing: 0.01em;
text-align: center;
padding-right: 3rem;

}
.inputbox input{
 height: 48px;
width: 479px;
left: 271px;
top: 590px;
border-radius: 4px; 
border: 1px solid var(--white); 
outline: none;
resize: none;
padding: 0 0.4rem;
align-items: center;
display: flex;
flex-direction: column;
flex-flow: row;


 }
 .inputbox input:hover{
 width: 250px;
 height: 48px;
width: 479px;
left: 271px;
top: 590px;
border-radius: 4px; 
border: 1px solid var(--off-blue); 
outline: none;
resize: none;
padding: 0 0.4rem;
 }
 
 .inputbox textarea{
    width: 479px;
    height: 230px;
    resize: none;
    outline: none;
    padding: 0 0.4rem;
 }
 .map{
    width: 40%;
 }
#submit
 {
 height: 41px;
width: 127px;
left: 623px;
top: 990px;
border-radius: 4px;
padding: 10px, 38px, 10px, 38px;
background-color: var(--off-blue);
border: 1px solid var(--off-blue);
 cursor: pointer;
 font-size: 1rem;
 color: var(--white);
 margin: 1px 0 3% 65%;
 }
#submit:hover{
    background-color: var(--white);
    border: 1px solid var(--off-blue);
    color: var(--off-blue);
  
}

