@media only screen and (max-width: 768px) {
.Navbar-item,
.Navbar {
  flex-direction: column;
}

.Navbar-item {
  display: none;
}

.Navbar-ToggleShow {
  display: flex;
}

.Navbar-Link-toggle {
  align-self: flex-end;
  display: initial;
  position: absolute;
  cursor: pointer;
}
.container{
  align-self: flex-end;
  display: initial;
  position: absolute;
  cursor: pointer;
}

}